defaults:
  - _self_

method: fully-supervised-train

train:
  total_epochs: 100
  validation_interval: 10

init:
  _target_: trainer.SemiSupervisedEnsemble
  normalize: true
  supervised_criterion:
    _target_: torch.nn.MSELoss
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.001
    weight_decay: 0.005
  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    _partial_: true
    step_size: 1
    gamma: 0.975

    